@use '../utils/utils.scss' as * ;

.dashboard-component:has(.hamburger.navbar[data-istoggled=toggled]){
    &::after{
        @include gradient(to bottom right,(#e01c3371,#acabb0e9));
        opacity: .2;
        position: absolute;
        content: '';
        width: 70%;
        height: 100%;
        animation: normal appearFromTop 1s forwards;
        z-index: 5555;
       }
}
.dashboard-component:has(.hamburger.navbar[data-istoggled=untoggled]){
    &::after{
        @include gradient(to bottom right,(#e01c3371,#acabb0e9));
        position: absolute;
        content: '';
        width: 70%;
        height: 100%;
        animation: normal disappearToTop 1s forwards;
        z-index: 5555;
       }
}

.hamburger-btn {
    filter:brightness(100%) invert(100%);
    position: absolute;
    background: none;
    padding: .2rem;
    z-index: 1555;

    &:hover{
        background-color: aquamarine;
        filter:brightness(0%) invert(50%) hue-rotate(100%);

    }
}

.hamburger.navbar {
   position: absolute;                                  
   display: grid;
   align-items: center;
   top:0;
   right: 0;
   bottom:0;
   width: 30%;
   


    .hamburger-btn {
        position: absolute;
        padding: 0rem;
        width: 25px;
        right: 5px;
        top:5px;
        img{
            width: 100%;
        }
       

    }
    .hamburger-children{
        
        
        @include gradient(to bottom right,(#E01C34,#ACABB0));
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        z-index: 150;
        
        &[data-istoggled=toggled] {
            // clip-path: inset(0 0 100% 0) !important;
            @extend .appearFromTop;
        }

        &[data-istoggled=untoggled]{
            @extend .disappearToTop ;
            // clip-path: inset(0 0 99% 0) !important;
            // opacity: 0 !important;
        }
        &[data-istoggled=loaded]{
            // @extend .disappearToLeft;
            clip-path: inset(0 0 99% 0) ;
            opacity: 0;
        }
   }
   .flex {
    display: grid;

}
    
}

.hamburger-outer{
    
    transition: all .5s ease-in-out;
    display: flex;
    .hamburger-btn {
        @include respond-to(small){
            left: .2rem;
        }
        position: absolute;
            width: 25px;
         height: 25px;
        left: .2rem;
         top:5px;
         }
    
.hamburger.channels {
    transition: .3s all ease-in-out;
 
    &[data-istoggled=toggled] {
        @include respond-to(medium){
            position: relative;
        }
        // @extend .appearFromLeft;
        animation-name: appearFromLeft;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    &[data-istoggled=untoggled]{
        // @extend .disappearToLeft;
        animation-name: disappearToLeft;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    &[data-istoggled=loaded]{
        // @extend .disappearToLeft;
        // clip-path: inset(0 0 99% 0) ;
        position: relative;
        // opacity: 1;
    }
    
    // &[data-istoggled=toggled]{
    //     flex:minmax(130px, 35%);
    //     z-index: 1;
    // }
    // &[data-istoggled=untoggled]{
    // }
    // &[data-istoggled=loaded]{
    //     position: relative;
    //     flex:minmax(130px, 35%) 
    // }

    left:0px;
    position: absolute;
    top:0px;
    bottom: 0;
        // position: relative;
     
    .hamburger-children{
        
         display: flex;
        width: 100%;
        height: 100%;

     }

 }

}




 