.member-info{
    display: flex;
    position: absolute;
    background-color: red;
    inset: 0;
    width: 250px;
    height: 250px;
    z-index: 2;
    margin: auto;
    img{
        height: 40px;
        align-self: center;
        outline: 1px solid red;
        width: 40px;
    }
}