@use '../../utils/utils.scss' as *;

.box-shadow--gray{
    @include respond-to(small){
        box-shadow: none !important; 
    }

}
.auth-form-component{
    @include respond-to(small){
        width: 100%;
        padding: 0 1rem;
    }
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap:.5rem;
    padding:1.2rem clamp(3rem, 1.944rem + 4.507vw, 6rem) ;
    h2{
        font-size: 1.4rem;
    }
 .hint{
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom:3%;
    font-size: .8rem;
 }    

 .input-wrapper{
     display: flex;
     flex-direction: column;
    gap:1rem;


    form {
        display: flex;
        flex-direction: column;
        gap:.3rem;

        label{
           font-size: 1rem;
        }
        input {
            &:focus{
                background-color: gainsboro;
            }
        }
        .submit-btn{
           padding: .4rem 2rem;
           border: solid 1px black;
           align-self: center;
           &:hover{
               border-color:wheat !important;
           }
       
        }
    }
 }

}