@use '../../utils/utils.scss' as *;

.box-shadow--gray{
    @include respond-to(small){
        box-shadow: none !important; 
    }

}
.auth-form-component{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap:.6rem;
    @include respond-to(small){
        width: 100%;
        padding: 0;
    }
padding:1.2rem clamp(3rem, 1.944rem + 4.507vw, 6rem) ;
 .hint{
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom:3%
 }    

 .submit-btn{
    padding: .4rem 2rem;
 }
}