.messages-wrapper{
    padding: .2rem 1rem;

    overflow-y: scroll;
display: flex;
flex:1;
flex-direction: column;
gap:1rem;
&::-webkit-scrollbar {
    width: 3px;
}

/* Track */
&::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}

/* Handle */
scrollbar-width: thin;
scrollbar-color: gray black ;
&::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

/* Handle on hover */
&::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.down-btn {
    padding: 0;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 4%;
    transform: scale(2);
    bottom:20%;
}
.message.sent {
    margin-right: auto;
}
.message.received {
    margin-left: auto;

}

.message{
    border-radius: 6px;
    box-shadow: 0 0 1px 1px gray;
    position: relative;
    display: grid;
    grid-template-areas: 
    'member-img wrapper wrapper'
    'member-img text text '
    ;
    gap:.2rem;
    
    // outline: 1px solid green;
    button.show-member-button {
        all: unset;
        margin-right:  1rem;
        border:1px solid gray;
        align-self: center;
        grid-area: member-img;
        max-width: 40px;
        width: 40px;
        height: 40px;
        max-height: 40px;
        border-radius: 5px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-wrapper{
        grid-area: wrapper;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:1.5rem;
        .message-name, .message-date{
            color: #828282;
        }
        .message-name{
            font-weight: 700;
        }
        .message-date{
            font-size: max(.9rem);
            font-weight: lighter;
        }
    }

    &-text{
        grid-area: text;
        text-align: left;
    }

    &-delete{
        padding: 0;
        position: absolute;
        width: 13px;
        height: 13px;
        z-index: 0;
        right: 8px;
        bottom: 8px;
        filter:invert(100%) brightness(50%);
        img{
            width: 100%;
        }
    }
}
}