@use '../../utils/utils.scss' as *;
.chat-container-outer{

 
    .left-wrapper{
        display: flex;
        flex-direction: column;

        padding: .9rem 2.2rem;

        position: relative;
        .link{
            // background: #252329;
            border-radius: 5px;
            min-width:30px !important;
            min-height: 30px;
            padding: .1rem;
            border: 1px solid gray;
        
        }
        .flex.flex--between{
            margin-bottom: 1rem;
                align-items: center;
                span{
                    font-weight: 650;
                    font-size: 1.1 rem;
                }
            
            }

            
        .inner-wrapper{
            input {
                @include respond-to(medium){
                    &::placeholder{
                        visibility: visible;
                    }
                }

                &::placeholder{
                    visibility: hidden;
                }
                font-size: clamp(0.6rem, 0.424rem + 0.751vw, 1.1rem);
                padding: 0.5rem 1rem  .5rem 2.5rem  ;
                width: 100%;
                font-size: .85rem;
            }
            img{
                @include respond-to(medium){
                    visibility: visible;
                }
                filter: brightness(0) invert(1);
                // visibility: hidden;
                padding: .1rem;
                max-width: 20px;
            }
        }

        
        }
     
}