@use '../../utils/utils.scss' as *;
.dashboard-component{

    .left-wrapper{
        @include respond-to(medium){
            padding: 1.5rem 1.3rem;
        }
        position: relative;
// 
      


        .add-btn{
            background: #252329;
            border-radius: 8px;
            // width: rem;
            // height: .5rem;

            position: relative;

            &::after, &::before{
                position: absolute;
                content: '';
                background-color: white;
                width: 25%;
                height: 2px;
            }

            &::after{
                margin: 0 auto;
                left: 0;
                right: 0;

            }

            &::before{
                // margin: 0 auto;
                left: 0;
                right: 0;
                margin: 0 auto;
                transform: rotate(90deg);
            }
        }
       
    // .hamburger{
    //     @include respond-to(medium){
    //         display: none;
    //     }
    // }

            display: flex;
        flex-direction: column;
        gap:.8rem;
        padding: 1.5rem .7rem;
            // outline: 1px solid yellow;

            .flex.flex--between{
                margin-bottom: 1rem;
                align-items: center;
                span{
                    font-size: clamp(0.8rem, 0.694rem + 0.451vw, 1.1rem);
                    font-weight: 650;
                }
            
            }

            
        .inner-wrapper{
            display: flex;  
    
            justify-content: center;
            // align-items: center;
            input {
                @include respond-to(medium){
                    &::placeholder{
                        visibility: visible;
                    }
                }

                &::placeholder{
                    visibility: hidden;
                }
                font-size: clamp(0.6rem, 0.424rem + 0.751vw, 1.1rem);
                padding: 0.2rem ;
                // width: 100%;
            }
            img{
                @include respond-to(medium){
                    visibility: visible;
                }
                filter: brightness(0) invert(1);
                // z-index: 2;
                // flex: 20%;
                max-width: 18px;
                visibility: hidden;
            }
        }

        
        }
     
}