@use '../../utils/utils.scss' as *;
.app-wrapper{
    max-height: 100dvh;

    .hamburger-btn {
        top:2%;
        left: 2%;
    }

    .left-wrapper{
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 1.6rem 2rem 1rem;
        button.back{
            position: absolute;
            top:-7%;
            padding:0;
            left: 0%;
            gap:0;
            // font-size: .9rem;
            align-items: center;
            border: none;
            display: inherit;
                img{
                    
                    order: -1;
                    width: 30px;
                    margin-right: auto;
                    filter: invert(50%) brightness(100%);
                }
            }
        
        &[data-showedbar=true]{
            padding: 2rem 1.6rem .5rem;
            .left-wrapper-inner {

                .channel {
                    display: grid;
                    &-name{
                        font-size: 1.2rem;
                    }
                    &-description {
                        font-size: .95rem;
                        max-width: 30ch;
                    }
                    &-members {
                        overflow-y: scroll;
                        display: grid;
                        gap:1rem;
                        .user {
                            display: flex;
                            align-items: center;
                            gap:1rem;
                            &-img{
                                max-width: 35px;
                                border-radius: 6px;
                            }
                            &-name{
                                color:#828282;
                            }
                        
                        }
                    }
                }

            }
            
        }

        &-inner {
            display: flex;
            flex-direction: column;
            gap:.5rem;
            .refetch {
                padding: 0;
                align-self: flex-end;
                width: 18px;
                position: absolute;
                bottom: 18%;
                right: 2%;
            }
        }

        .link{
            // background: #252329;
            border-radius: 5px;
            min-width:30px !important;
            min-height: 30px;
            padding: .1rem;
            border: 1px solid gray;
        
        }
        
        .flex.flex--between{
            margin-bottom: 1rem;
                align-items: center;
                span{
                    font-weight: 650;
                    font-size: 1.1 rem;
                }
            
            }

            
        .inner-wrapper{
            input {
                @include respond-to(medium){
                    &::placeholder{
                        visibility: visible;
                    }
                }

                &::placeholder{
                    visibility: hidden;
                }
                font-size: clamp(0.6rem, 0.424rem + 0.751vw, 1.1rem);
                padding: 0.5rem 1rem  .5rem 2.5rem  ;
                width: 100%;
                font-size: .85rem;
            }
           
            img{
                @include respond-to(medium){
                    visibility: visible;
                }
                filter: brightness(0) invert(1);
                // visibility: hidden;
                padding: .1rem;
                max-width: 20px;
            }
        }

        
        }
     
}