.channel-manager-component{
    display:flex;
    position: absolute;
    inset: 0;
    margin: auto;
    background-color:#0B090C  ;   
    width: 250px;
    border-radius: 8px;
    height: 150px;
    align-items: center;
    flex:1;
    gap:1rem;
    text-align: center;
   
    div.wrapper {
        display:grid;
        gap:1rem;
        margin: auto;
    }
    a {
        all:unset;
        &:hover{
            color:gold;
            font-weight: 700;
        }
        outline: 1px solid gray;
        padding: .3rem .5rem;
        border-radius: 12px;
    }


    button{
        padding: .4rem;
    }
}
.prompt-menu-component{
    button.close{
        position: absolute;
        right: 5px;
        top:5px;
        padding: 0;
        img{
            filter: brightness(100%) invert(50%);
            max-width: 23px;
    
        }
        &:hover{
            img{
                filter: brightness(50%) invert(100%);
            }
        }
    }
    button.back{
        position: absolute;
        left: 1px;
        top:1px;
        padding: 0;
        img{
            filter: brightness(100%) invert(50%);
            max-width: 30px;
    
        }
        
    }
        
}