.channel-manager-component{
    display:flex;
    align-items: center;
    flex:1;
    gap:1rem;
    div.wrapper {
        display:grid;
        gap:1rem;
        margin: auto;
    }
    a {
        all:unset;
        &:hover{
            color:gold;
            font-weight: 700;
        }
        outline: 1px solid gold;
        padding: .3rem .5rem;
        border-radius: 12px;
    }


    button{
        padding: .4rem;
    }
}