 .user-bar-component {
    display: flex;
    align-items: center;
    gap:.5rem;
    position: absolute;
    bottom: 0;
    padding: .5rem 1rem;
    width: 100%;
    .dropdown-img {
        filter: brightness(50%) invert(60%);
        max-width: 20px;
        margin-left: auto;
    }
    .profile-img {
        width: clamp(1.875rem, 1.611rem + 1.127vw, 2.625rem);
        height: clamp(1.875rem, 1.611rem + 1.127vw, 2.625rem);
        border-radius: 7px;
    }
    .name {
        font-size: .8rem;
        font-weight: 700;
        color:#828282;
    }
 }