 .user-bar-component {
    display: flex;
    align-items: center;
    gap:.5rem;
    position: absolute;
    .user {
        display: flex;
        align-items: center;
        gap:.5rem;
        &-img {
            border-radius: 8px;
            width: 35px;
            height: 35px;
            object-fit: cover;
        }
        &-name{
            color:#828282;
        }
    }
    bottom: 0;
    padding: .5rem 1rem;
    width: 100%;

    .dropdown{
        display: grid;
        gap:.8rem;
        position: absolute;
        bottom:95%;
        padding: .5rem;
        outline: 1px solid white;
        background-color: #120F13 !important;
        // left:  60%;
        width: calc(100% - 2rem);
        // padding:1rem;
        z-index: 555;
        .link {
            display: flex;
            gap:.5rem;
            img{
                max-width: 25px;
                order:-11;
            }
            padding: 0;
        }
    }
    .dropdown-img {
        padding: 0;
        
        filter: brightness(50%) invert(60%);
        max-width: 20px;
        margin-left: auto;
    }
    .profile-img {
        width: clamp(1.875rem, 1.611rem + 1.127vw, 2.625rem);
        height: clamp(1.875rem, 1.611rem + 1.127vw, 2.625rem);
        border-radius: 7px;
        font-size: .5rem;
    }
    .name {
        font-size: .8rem;
        font-weight: 700;
        color:#828282;
    }
 }