.main-wrapper {
    outline: 1px solid white;
    display: grid;
    position: relative;
    grid-template-rows: 15%;
    gap:1rem;
    padding: 1rem;
    .channel-title{
        margin-top: .5rem;
        font-size: clamp(0.8rem, 0.588rem + 0.902vw, 1.4rem);    }
    .messages-wrapper{
        display: flex;
        flex-direction: column;

        .message{
            display: grid;
            padding: 1rem 2rem ;
            grid-template-areas: 

            'img wrapper wrapper'
            'img text text '
            ;
            margin-right: auto;
            gap:.2rem;
            outline: 1px solid green;
            &-logo{
                margin-right:  1rem;

                grid-area: img;
                max-width: 40px;
                max-height: 40px;
                border-radius: 5px;
                background-color: red;
            }
            &-wrapper{
                grid-area: wrapper;
                display: flex;
                align-items: center;
                justify-content: center;
                gap:1.5rem;
                .message-name, .message-date{
                    color: #828282;
                }
                .message-name{
                    font-weight: 700;
                }
                .message-date{
                    font-size: max(.9rem);
                    font-weight: lighter;
                }
            }

            &-text{
                grid-area: text;
                text-align: left;
            }
            
        }

    }
    .inner-wrapper.message-input{
        position: relative !important;
        align-self: flex-end;
        display: flex;
        align-items: center;
        .form-wrapper{
            flex:1;
            
        }
        button.submit-btn {
            position: absolute;
            z-index: 5;
            right:.5rem;
            padding: 0;
            width: 35px;
            height: 35px;
            border-radius: 5px;
            // width: 100%;
            background-color: #2F80ED;
            img{
                width: 60%;
                margin: auto;
                background: transparent;
            }
        }
    }

}