.inner-wrapper{
    display: grid;
    gap:.6rem;
    text-align: left;

    .form-wrapper {
        position: relative;
        display: flex;
        border: 1px solid gray;
        border-radius: 8px;
        img{
            position: absolute;
            max-width: 22px;
            margin: auto .5rem;
            top:50%;
            bottom: 50%;

            bottom:50%;
            // left: 8px;
        }
    }
    label {
        text-transform: capitalize;
    }
    input {
        width: 100%;
        order: 1;
        background-color: transparent;
        border: none;
        padding: .85rem 0rem .85rem 2.55rem ;
        // border: 1px solid gray;
        color: rgb(67, 183, 203);
    }
}