@use '../utils/utils.scss' as * ;



.chat-container-outer{
    display: flex;
    overflow-x: hidden;
    max-height: calc(100dvh - 70px);
}
.chat-container-inner {
    display: flex;
    flex:1;
    // outline: 1px solid red;
    flex:100%;
    position: relative;
    .left-wrapper {
        flex: 20%;
    }
    .main-wrapper {
        flex:1;
        margin: 0 auto;
     
    }
}

