@use '../utils/utils.scss' as *;


.App:has(.dashboard-component){
    position: relative;
}


.dashboard-component{
    
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
    .main-wrapper {
        position: relative;
    }



   
}