@use '../utils/utils.scss' as * ;

.navbar-component {
    padding: 0 1rem;
    
    .navbar-inner{
        display: flex;
        align-items: center;

    }
   
  
    
    display: flex;
    // padding: .3rem 1.5rem;
    justify-content: space-between;
    gap:1rem;
    right: 5px;
    z-index: 1;
    top:5px;
    margin:0rem 0rem .3rem 0;

    div.flex {
        gap:.5rem;
        justify-content: center;
        align-items: center;
        .nav-btn {
            // outline: 1px solid gold;
            border: 1px solid black;
            border-radius: 8px;
            transition: .4s all ease-in-out;
            padding:.2rem .5rem ;
            font-size: clamp(0.65rem, 0.439rem + 0.901vw, 1.15rem);
            color: color(brown);
            background-color: color(brown);
            font-weight: 700;
            &:hover{
                background-color: black;
            }
        }    
    }


    .logo {
        display: flex;
        width: 50px;
        height: 40px;
        transform: scale(1.4);
        filter: invert(100%);
        img{
            width: 100%;
        }
    }

   
    
}