body {
}

#root {
  display: grid;
  // margin: 0 auto;
  // padding: .2rem;
  min-width:320px;
  width: 100%;
  min-height: 100dvh;
}

.App:has(.landing-component,.auth-form-component){
  align-items: center;
  justify-content: center;
}

.App {
  display: flex;
  // max-height: calc(100dvh - 50px);
  flex-direction: column;
  & > .chat-container-outer {
    flex: 1;
    margin-top: 1rem;

  }
  &:has(.chat-container-outer){
    display: grid;
    grid-template-rows: 50px 1fr;

  }
  &:has(.auth-form-component){
      align-items: center;
      justify-content: center;
      .navbar-component {
        width: 100%;
      }
  }

}
.box-shadow--gray{
  box-shadow: 1px 1px 6px 1px gray;
}

.flex{
  display: flex;
}
.flex.flex--between{
  justify-content: space-between;
}


.notFound {
   display: grid;
   width: 100%;

   img{
    width: 100%;
    // width: 300px;
   }
}

input.error{
  border: 1px solid red;
}

.chat-container-outer:has(.prompt){
  .hamburger-outer , .main-wrapper {
    display: none !important;
  }
    .prompt {
      margin: auto;
    }
}

#root:has(.fallback-component,.loading-component){
  position: relative;
  &::after{
      position: absolute;
      inset: 0;
      content: '';
      width: 100%;
              z-index: 10;
      height: 100%;
      background-color: rgba(105, 85, 85, 0.4);
  }
}
.fallback-component {
  @extend .box-shadow--gray;
  position: absolute;
  max-width: 500px;
  max-height: 350px;
  margin:auto;
  z-index: 1000;
  inset: 0;
  padding: 2rem;
  h1 {
      font-size: 2rem;
  }
  display: flex ;
  flex-direction: column;
  align-items: center ;
  justify-content: space-around ;
  
  border-radius: 10px;
  background: #120F13 !important;

  button {
      border: 1px solid black;
  }

}

button {
  border:1px solid rgb(11, 11, 17) 
}