
.social-btns-wrapper {
    display:  flex !important;
    margin: 0 auto;
    gap:.5rem;
    // flex-wrap: wrap;
    .hint {
        position: absolute;
        bottom: 10px;
        margin: 0 auto;
        bottom: 10px;
        left: 0;
        right: 0;
    }

 

    .social-btn-outer{
        &:hover{
            cursor: pointer;
        }
        #googleBtn{
            div {
                opacity: 0 !important;
            }
        }
        display: flex !important;
        align-items: center;
        justify-content: center;
        flex: 1;
        padding: 0;
        position:relative;
        z-index: 55;
        border-radius: 50%;
        width: 33px;
        height: 33px;

        img{
            position: absolute !important;
            z-index: -1;
            inset: 0;
            margin: auto;
        }
        
        
        .social-btn {
            border-radius: 50%;
            flex:1;
            margin: auto;
            position: relative;
            left: 0;
            top:0;
            height: 100%;
            width: 100%;
            // position: absolute;
            padding: 0;
            // border: none;    
        //   
        }
       
     }

    }
